body{
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.box{
    background-color: rgb(168, 87, 245);
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.singInP{
    margin: 5px;
}

.sing{
    background-color: rgb(241, 255, 255);
    padding: 25px;
}

.inputSing{
    padding: 7px;
    border: 1px solid rgb(136, 136, 136);
    border-radius: 15%;
}

.buttonDiv{
    margin-top: 10px;
}



